# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
mediafiles/
staticfiles/

# Virtual Environment
env/
venv/
django_env/
*.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Database
*.db
